.MainDash {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #f3f7fa;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    color: #2b3a42;
    font-size: 2rem;
  }
  
  .search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 22px;
    width: 50%;
    font-size: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    .search-input {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
  