.MainDash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%; 
}

.search-input {
    margin-left: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 22px;
    width: 33%;
    height: 5vh;
}

@media screen and (max-width: 1200px) {
    .MainDash {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .MainDash {
        align-items: center;
    }

    .header {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .search-input {
        width: 100%;
        margin-top: 0.5rem; 
    }
}
